.webadmin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 100%;
  width: 100%;
}
/* .button {
    width: 30%;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #2eaa2e;
    font-size: 23px;
    color: #333;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  } */
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}
/* styles.css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2eaa2e;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
    background-color: #257227;
}

.container {
  margin-bottom: 40px;
}
