/* PackageModal.css */

.modal {
  width: 800px;
  margin: auto;
  background-color: #a1edbf;
  border-radius: 8px;
  padding: 20px;
 // position: relative;
  max-width: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin-bottom: 10px;
  font-size: 14px;
  color:black;
}

.modal input {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.modal .input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal .input-group label {
  flex: 1;
  margin-bottom: 0;
}

.modal .input-group input {
  width: 100%;
}

.modal button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.modal button[type="submit"]:hover {
  background-color: #0056b3;
}

.modal button[type="button"] {
  background-color: #6c757d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button[type="button"]:hover {
  background-color: #5a6268;
}

.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
}
